/* latin-ext */
@font-face {
font-family: 'Century Gothic';
font-style: normal;
font-weight: 400;
src: local('Century Gothic'), local('CenturyGothic'), url(https://fonts.gstatic.com/l/font?kit=Cn-vJt-LUxZV2ICofzrQFC41xsIsa3M&skey=93c2fdf69b410576&v=v8) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Century Gothic';
font-style: normal;
font-weight: 400;
src: local('Century Gothic'), local('CenturyGothic'), url(https://fonts.gstatic.com/l/font?kit=Cn-vJt-LUxZV2ICofzrQFC41xsIia3M&skey=93c2fdf69b410576&v=v8) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html, body{
   /*font-family: century-gothic, sans-serif; */
       font-family: "Century Gothic" !important;
}
.btn-login{
   padding:15px !important;
  padding-top:25px !important;
  padding-bottom:25px !important;
}
.is_mobile{

}
.mbt-5{

}
.mbt-3{
margin-top: 2rem !important;
}
.mobile-only{
  display: none;
}
.web-only{
  display: ;
}
.submit img{
	display: none;
}
.submit1 img{
	display: none;
}
.submit2 img{
	display: none;
}
.submit3 img{
	display: none;
}
.form-close{
	display: none;
}
.form-open{
	display: ;
}
.pointer{
	cursor: pointer;
}
.text-slim{
 font-family: "Century Gothic" !important;
}
.mobile-margin{
	margin-top: 4%;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .mobile-only{
    display: block;
  }
  .mobile-margin{
  	margin-top: 25%;
  }
  .is_mobile{
    padding: 0!important;
    width: 100%;
  }
  .text-slim{
   font-family: "Century Gothic" !important;
   font-size: 0.9em;
  }
  .mbt-5{
    margin-top: 3rem !important;
  }
  .mbt-3{

  }

}
.separator {
    color: rgba(0,0,0,.4);;
    display: flex;
    align-items: center;
    text-align: center;
}
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid rgba(0,0,0,.1);;
}
.separator::before {
    margin-right: .25em;
}
.separator::after {
    margin-left: .25em;
}
.image-question-display{
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  transition: transform 0.1s;
}
.image-question-display:hover{
   transform: scale(0.9);
}
.pointer{
  cursor: pointer;

}
.product-item-image{

}
.gallery-item-image{

}
.text-detail{
  font-family: "Century Gothic" !important;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .product-item-image{
    width: 50%;
  }
  .gallery-item-image{
    width: 50%;
  }
  .product-list{
  padding: 0px !important;
  }
  .web-only{
    display: none;
  }

}
.image-fix-display{
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  transition: transform 0.1s;
}
/*.image-fix-display:hover{
   transform: scale(0.9);
}*/
.image-item-upload{
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  transition: transform 0.1s;
}
.width-option-1-2{
  width:5% !important;
}
.width-option-1{
  width:10% !important;
}
.width-option-2{
   width:20% !important;
}
.width-option-3{
   width:30% !important;
}
.width-option-4-2{
   width:35% !important;
}
.width-option-4{
   width:40% !important;
}
.width-option-5{
   width:50% !important;
}
/* New */
#sidebar-wrapper .active{
/* background-color: #f1f1f1 !important; */
border-color: #c1c1c1;
}
.bold{
  font-weight: bold;
}
.label{
letter-spacing: 1px;
}
.font-base{
  font-size: 13px !important;
}
.font-base-md{
  font-size: 14px !important;
}
.font-base-lg{
  font-size: 15px !important;
}
.font-base-xl{
  font-size: 18px !important;
}
.font-base-xxl{
  font-size: 20px !important;
}
.nav-padding{
  padding:0px;
}
.base-color{
  color: #333333;
}
.nav-base-color{
  background-color: #555555 !important;
}
.nav-item-base{
  padding: 12px 8px 12px 8px;
  margin-top: -5px;
  font-size: 15px;
  min-height: 43px;
  height: auto;
}
.nav-item-base:hover{
    background-color: #101010 !important;
}
.hide{
  display: none;
}
table.dataTable{
  clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: collapse !important;
    border-spacing: 0;
 }
