/* latin-ext */
@font-face {
font-family: 'Century Gothic';
font-style: normal;
font-weight: 400;
src: local('Century Gothic'), local('CenturyGothic'), url(https://fonts.gstatic.com/l/font?kit=Cn-vJt-LUxZV2ICofzrQFC41xsIsa3M&skey=93c2fdf69b410576&v=v8) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Century Gothic';
font-style: normal;
font-weight: 400;
src: local('Century Gothic'), local('CenturyGothic'), url(https://fonts.gstatic.com/l/font?kit=Cn-vJt-LUxZV2ICofzrQFC41xsIia3M&skey=93c2fdf69b410576&v=v8) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html, body{
   /*font-family: century-gothic, sans-serif; */
   font-family: "Century Gothic" !important;
}
.btn-login{
   padding:15px !important;
  padding-top:25px !important;
  padding-bottom:25px !important;
}
.is_mobile{

}
.mbt-5{

}
.mbt-3{
margin-top: 2rem !important;
}
.mobile-only{
  display: none;
}
.web-only{
  display: ;
}
.submit img{
  display: none;
}
.submit1 img{
  display: none;
}
.submit2 img{
  display: none;
}
.submit3 img{
  display: none;
}
.form-close{
  display: none;
}
.form-open{
  display: ;
}
.pointer{
  cursor: pointer;
}
.text-slim{
 font-family: "Century Gothic" !important;
}
.mobile-margin{
    margin-top: 3%;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
   /* For mobile phones: */
  .dataTables_info{
    float: right;
  }
  .dataTables_length{
    float: left;
  }
  .dataTables_filter{
    float: left;
  }
  .g-recaptcha{
    -ms-transform: scale(1.07,1.07); /* IE 9 */
    transform: scale(1.07,1.07); /* Standard syntax */
    width:30%;
  }
  .mobile-only{
    display: block;
  }
  .mobile-margin{
    margin-top: 19%;
  }
  .is_mobile{
    padding: 0!important;
    width: 100%;
  }
  .text-slim{
   font-family: "Century Gothic" !important;
   font-size: 0.9em;
  }
  .mbt-5{
    margin-top: 3rem !important;
  }
  .mbt-3{

  }

}
.separator {
    color: rgba(0,0,0,.4);;
    display: flex;
    align-items: center;
    text-align: center;
}
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid rgba(0,0,0,.1);;
}
.separator::before {
    margin-right: .25em;
}
.separator::after {
    margin-left: .25em;
}
.image-question-display{
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  transition: transform 0.1s;
}
.image-question-display:hover{
   transform: scale(0.9);
}
.pointer{
  cursor: pointer;

}
.product-item-image{

}
.gallery-item-image{

}
.text-detail{
  font-family: "Century Gothic" !important;
}
.g-recaptcha{
  float: left;
}
.btn-login-mobile{
  float: right;
  display: inline-grid;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .btn-login-mobile{
    margin-top: 10px;
    float: left;
    display: inline-block;
  }
 
  .product-item-image{
    width: 50%;
  }
  .gallery-item-image{
    width: 50%;
  }
  .product-list{
  padding: 0px !important;
  }
  .web-only{
    display: none;
  }

}
.image-fix-display{
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  transition: transform 0.1s;
}
/*.image-fix-display:hover{
   transform: scale(0.9);
}*/
.image-item-upload{
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  transition: transform 0.1s;
}
.width-option-1-2{
  width:5% !important;
}
.width-option-1{
  width:10% !important;
}
.width-option-2{
   width:20% !important;
}
.width-option-3{
   width:30% !important;
}
.width-option-4-2{
   width:35% !important;
}
.width-option-4{
   width:40% !important;
}
.width-option-5{
   width:50% !important;
}
  /* New */
  #sidebar-wrapper .active{
  /* background-color: #f1f1f1 !important; */
  border-color: #c1c1c1;
  }
  .bold{
    font-weight: bold;
  }
  .label{
  letter-spacing: 1px;
  }
  .font-base{
    font-size: 14px !important;
  }
  .font-base-md{
    font-size: 15px !important;
  }
  .font-base-lg{
    font-size: 16px !important;
  }
  .font-base-xl{
    font-size: 19px !important;
  }
  .font-base-xxl{
    font-size: 21px !important;
  }
  .hide{
    display: none;
  }
/*Images*/
.image-question-display{
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  transition: transform 0.1s;
}
.image-question-display:hover{
  transform: scale(0.9);
}
 .dropdown-menu{
      border-radius: 0px;
    }
  .dropdown-submenu {
    position: relative;
  }

  .dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
  }

  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
  }
  .dropdown-menu{
    border-radius: 0px;
  }

.dropdown-item:focus, .dropdown-item:hover {
    text-decoration: none;
    color: #fff;
    background-color: #101010;
  }

  /*Image*/
  .questionaire > .image img{
       padding: .25rem;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: .25rem;
        max-width: 100%;
        height: auto;
    }
  .choices > .image img{
    padding: .25rem;
      background-color: #fff;
      border: 1px solid #dee2e6;
      border-radius: .25rem;
      max-width: 100%;
      height: auto;
  }
  .choices_display > .image img{
    padding: .25rem;
      background-color: #fff;
      border: 1px solid #dee2e6;
      border-radius: .25rem;
      min-width: 180px;
      max-width: 100%;
      height: auto;
     
  }

  @media only screen and (max-width: 768px) {
    .choices_display > .image img{
      padding: .25rem;
      background-color: #fff;
      border: 1px solid #dee2e6;
      border-radius: .25rem;
      min-width: 130px;
      max-width: 130px;
      height: auto;
     
  }
  }